[Unit]
Description=Bind mount persistent machine-id
DefaultDependencies=no
Before=systemd-machine-id-commit.service
After=mount-fdir.service
ConditionPathIsMountPoint=/data

[Service]
Type=oneshot
RemainAfterExit=yes
# Create directory and copy machine-id if not present
ExecStartPre=/bin/mkdir -p /data/etc
ExecStartPre=/bin/sh -c 'test -f /data/etc/machine-id || cp /etc/machine-id /data/etc/machine-id'
ExecStart=/bin/mount --bind /data/etc/machine-id /etc/machine-id

[Install]
WantedBy=sysinit.target
