[Unit]
Description=Resize data partition to fill available space
DefaultDependencies=no
Conflicts=shutdown.target
After=local-fs.target
Before=sysinit.target shutdown.target
ConditionPathExists=!/data/.partition-resized

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/data-partition-resize.sh
TimeoutSec=180

[Install]
WantedBy=sysinit.target
